/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #bee0d4;
  color: #fff;
  padding: 1.5em;
  display: flex;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
}
nav .logo {
  height: 60px;
}

nav a.login-button {
  color: #4e4e4e;
  margin-left: auto;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: white;
}

main {
  padding: 2rem;
  flex: 1;
  background-color: white;
}
footer {
  text-align: center;
  padding: 1em;
  background-color: #bee0d4;
  color: #4e4e4e;
}

#places-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.place-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  width: 30%;
  text-align: center;
  height: 400px;
}

.place-card h2 {
  margin-bottom: 0.5em;
  color: #555;
}
.place-card p {
  margin-bottom: 15px;
}
.view-details-button {
  background-color: #b0e2d1;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.review-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.filter-container {
  display: flex;
  justify-content: center; /* Center the filter horizontally */
  margin-bottom: 1em; /* Add some space below the filter */
  width: 100%; /* Ensure it takes the full width */
}
.available {
  text-align: center;
  margin-bottom: 15px;
}
.place-card img {
  padding-top: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
#error-message {
  margin-top: 2px;
  font-size: 12px;
  color: red;
}